.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #333333;
  /* 深灰色背景 */
  color: #ffffff;
  /* 白色文字 */
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
  /* 字體大小 */
}

.footer__text {
  margin: 0;
  /* 移除段落的預設間距 */
}